body{
    font-family:sans-serif;
    margin: 20;
    line-height: 1.6;
    color: black;
    background-color: chocolate;
    size: 20px;
    text-align: center;
    

}
h1{
    font-size: 2em;
    color: black;
    text-align: center;
}
h2{
    font-size: 1.5em;
    color: black;
    text-align: center;
}
p{
    margin-bottom: 1em;
    color: white;
    text-align: center;

}
a{
    color: beige;

    text-decoration: none;
}
img{
    width: 30%;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

}
a:hover{
    text-decoration: underline;
}
